@charset "UTF-8";
@import url(d:\CSS\Вёрстка от 0 до 1\Сайт-многостраничник\node_modules\@fancyapps\fancybox\dist\jquery.fancybox.css);
.menu__list-link, .footer__info-title, .rightside-menu__title, .top__slider-title, .new-collection__title, .collection__info-title, .decor__title, .works-path__title, .works-path__item-title, .blog-box__title, .blog-box__item-title, .about__prev-title, .about__title, .inspiration__title, .inspiration__item, .contact__title, .contact-slider__title, .blog__category-title, .blog__tags-title, .blog__item-title, .blog__blockquote-author, .recent-posts__title, .blog-2__tags-title, .blog-2__comments-title, .blog-2__comments-name, .blog-2__form-title {
  /* Смотреть на сайте Sass вложенности */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  overflow-x: hidden;
  /* Для правого окна по клику */
  min-width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots button {
  background-color: #363838;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
}

.slick-dots li.slick-active {
  /* усли класс активный, то точка жёлтая */
}

.slick-dots li.slick-active button {
  background-color: #FFEF35;
}

.info-email {
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  /* строчно-блочный эл-т */
  position: relative;
}

.info-email::before {
  content: '';
  background-image: url(../img/envelope.svg);
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 12px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__btn-menu {
  display: none;
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  padding-left: 35px;
  padding-right: 45px;
}

.menu__list-link {
  color: rgba(54, 56, 56, 0.9033);
  line-height: 22px;
}

.menu .menu__list-link--active {
  padding-bottom: 4px;
  position: relative;
}

.menu .menu__list-link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  background-color: rgba(54, 56, 56, 0.7);
}

/* ------- footer ------- */
.footer__content {
  background: #DFDFDF;
  padding: 60px 0 80px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  width: 540px;
}

.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
}

.footer__info-text {
  margin-bottom: 16px;
  max-width: 475px;
}

.footer__form {
  display: flex;
}

.footer__form-input {
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid rgba(54, 56, 56, 0.7);
  width: 100%;
}

.footer__form-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27;
  color: #a1a1a1;
}

.footer__form-button {
  background-color: #363838;
  border: none;
  color: #fffff0;
  border-radius: 21px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  margin-left: 9px;
  cursor: pointer;
}

.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;
}

.footer__social-item, .footer__menu-item {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.footer__social-link {
  padding-left: 28px;
  position: relative;
}

.footer__social-link::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
}

.footer__social-link--fb::before {
  background-image: url(../img/facebook.svg);
}

.footer__social-link--instagram::before {
  background-image: url(../img/instagram.svg);
  width: 14px;
  height: 14px;
  top: 4px;
}

.footer__social-link--pinterest::before {
  background-image: url(../img/Pinterest.svg);
}

.footer__social-link--whatsapp::before {
  background-image: url(../img/whatsapp.svg);
  width: 14px;
  height: 14px;
}

.footer__social-link--youtube::before {
  background-image: url(../img/youtube.svg);
  width: 18px;
  height: 12px;
  top: 4px;
}

.footer__social-link, .footer__menu-link {
  color: #707070;
}

.footer__menu {
  margin-left: 60px;
  width: 125px;
}

.footer__copyright {
  background-color: #363838;
  color: #A1A1A1;
  text-align: center;
  padding: 42px 0 41px;
}

.info-email {
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  /* строчно-блочный эл-т */
  position: relative;
}

.info-email::before {
  content: '';
  background-image: url(../img/envelope.svg);
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 12px;
}

/* ---------rightside-menu---------- */
.rightside-menu {
  position: absolute;
  z-index: 5000;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  background-color: #fff;
  padding-top: 40px;
  box-shadow: -2px 3px 17px 0px #000;
  transition: all .5s;
}

.rightside-menu.rightside-menu--close {
  transform: translateX(1000%);
}

.rightside-menu__close {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 60px;
}

.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}

.rightside-menu__logo {
  margin-bottom: 40px;
  display: inline-block;
  /* Чтобы встал по центру */
}

.rightside-menu__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  position: relative;
  margin-bottom: 17px;
  padding-bottom: 17px;
}

.rightside-menu__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 252px;
  margin: 0 auto;
  height: 1px;
  background: #6D7278;
}

.rightside-menu__text {
  margin-bottom: 75px;
}

.rightside-menu__images {
  max-width: 485px;
}

/* --------- breadcrumbs --------- */
.breadcrumbs {
  background: rgba(223, 223, 223, 0.5);
  padding: 13px 14px;
  position: relative;
  z-index: 10;
}

.breadcrumbs__list {
  display: flex;
  overflow-x: auto;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 8px;
}

.breadcrumbs__item::after {
  content: '/';
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #5A5A5A;
}

/* --------- top --------- */
.top__inner {
  padding-bottom: 70px;
  position: relative;
}

.top__inner::after {
  /* задаём bg-изображение */
  content: '';
  background-image: url(../img/header__bg.jpg);
  position: absolute;
  width: 100%;
  height: 722px;
  top: 0;
  z-index: -1;
}

.top__slider-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.top__slider-img {
  margin-left: -14%;
  max-width: 703px;
  height: 815px;
  object-fit: cover;
  /* погуглить (чтобы не вылазила) */
}

.top__slider-info {
  max-width: 645px;
  margin-left: 25px;
}

.top__slider-title {
  color: #363838;
  font-size: 110px;
  line-height: 135px;
  padding-bottom: 26px;
  margin-bottom: 26px;
  position: relative;
}

.top__slider-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #6D7278;
}

.top__slider-text {
  max-width: 585px;
}

/*--------- new-collection ---------*/
.new-collection {
  text-align: center;
  padding: 45px 0 35px;
}

.new-collection__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.new-collection__title::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 1px;
  bottom: 0;
  /* Чтобы встала по центру */
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #6D7278;
}

.new-collection__text {
  max-width: 730px;
  margin: 0 auto 30px;
}

/*--------- collection ---------*/
.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
}

.collection__item {
  /* у collection__item при наведении на collection__info opacity становится 1 */
  position: relative;
}

.collection__item:hover .collection__info {
  opacity: 1;
}

.collection__images {
  min-height: 350px;
  /* Чтобы любая картинка вставала как нужно */
  object-fit: cover;
}

.collection__info {
  position: absolute;
  top: 0;
  left: 0;
  /* "натягиваем" наверх и центрируем */
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  /* подложка */
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* меняем оси */
  align-items: center;
  /* взаимодействие меняется */
  justify-content: center;
  opacity: 0;
  /* скрывается по умолчанию, появляется по наведению */
  transition: all .5s;
}

.collection__info-title {
  font-size: 20px;
  line-height: 25px;
  color: #363838;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}

.collection__info-title::after {
  content: '';
  bottom: 0;
  position: absolute;
  height: 1px;
  background: #6D7278;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.collection__info-text {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

/*--------- decor ---------*/
.decor {
  padding: 170px 0 155px;
  background-image: url(../img/bg-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.decor__title {
  max-width: 730px;
  color: #363838;
  font-size: 60px;
  line-height: 80px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}

.decor__title::after {
  content: '';
  position: absolute;
  left: 0;
  width: 200px;
  height: 1px;
  bottom: 0;
  background: #6D7278;
}

.decor__text {
  max-width: 540px;
}

/*--------- works-path ---------*/
/*--------- how it works ---------*/
.works-path {
  padding: 80px 0 30px;
}

.works-path__title {
  text-align: center;
  color: #363838;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 51px;
}

.works-path__items-box {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
  position: relative;
}

.works-path__items-box::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #363838;
  /* линия */
}

.works-path__item {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.works-path__item--production {
  margin-left: 317px;
}

.works-path__item--production::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: rgba(54, 56, 56, 0.7);
  /* линия аппендикс */
}

.works-path__item--production, .works-path__item--consultation {
  padding-bottom: 38px;
}

.works-path__item--measuring {
  padding-top: 38px;
  margin-left: 305px;
}

.works-path__item--measuring::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: rgba(54, 56, 56, 0.7);
  /* линия аппендикс */
}

.works-path__item-title {
  margin-left: 13px;
  color: #363838;
}

.works-path__item-text {
  margin-top: 13px;
}

/*--------- gallery ---------*/
.gallery {
  padding: 80px 0 90px;
}

.gallery__buttons {
  text-align: center;
  margin-bottom: 40px;
}

.gallery__btn {
  margin: 0 13px;
  background-color: transparent;
  border: 1px solid #454647;
  border-radius: 20px;
  padding: 6px 16px;
  color: #8F8D8D;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.gallery .mixitup-control-active {
  background-color: #FFEF35;
  color: #363838;
  border: none;
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;
}

.gallery__item:first-child {
  /* для первой картинки - занимает по 2 ряда */
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item img {
  object-fit: cover;
  width: 100%;
  max-height: 1150px;
  height: 100%;
}

.gallery.gallery-page {
  /*если gallery и gallery-page одновременно, тогда 8-й элемент занимает такое положение */
}

.gallery.gallery-page .gallery__item:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}

/*--------- blog-box ---------*/
.blog-box {
  padding-bottom: 100px;
}

.blog-box__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  margin: 0 auto 30px;
  text-align: center;
  max-width: 430px;
}

.blog-box__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.blog-box__img-link {
  margin-bottom: 19px;
  display: inline-block;
  /* чтобы работал margin */
}

.blog-box__links {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}

.blog-box__date, .blog-box__author, .blog-box__theme {
  color: inherit;
}

.blog-box__item-title {
  color: #363838;
  font-size: 24px;
  line-height: 38px;
}

/*--------- about ---------*/
.about__prev {
  background-image: url(../img/about-bg.jpg);
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 160px 0;
  margin-top: -53px;
}

.about__prev-title {
  color: #363838;
  font-size: 60px;
  line-height: 80px;
}

.about__content {
  padding: 130px 0 40px;
}

.about__title {
  color: #363838;
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}

.about__title::after {
  /* полоска */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 1px;
  background-color: #6D7278;
}

.about__text {
  padding-left: 284px;
}

.about__text p {
  margin-bottom: 30px;
}

.about__popup {
  background-image: url(../img/video.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 414px;
  display: flex;
  /* для позиционирования кнопки */
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*--------- inspiration ---------*/
.inspiration {
  padding-top: 100px;
  position: relative;
}

.inspiration::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/desire-bg.jpg);
  height: 362px;
  z-index: -1;
}

.inspiration__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration__img {
  margin-right: 78px;
  margin-left: -230px;
}

.inspiration__title {
  color: #363838;
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 16px;
  /* до линии */
  margin-bottom: 24px;
  /* до след.элемента */
  position: relative;
}

.inspiration__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #6D7278;
  width: 200px;
  height: 1px;
}

.inspiration__text {
  margin-bottom: 30px;
}

.inspiration__content {
  width: 825px;
}

.inspiration__item {
  color: #363838;
  line-height: 23px;
  margin-bottom: 33px;
}

.inspiration__item-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 2px solid #fff;
  border-radius: 4px;
}

.inspiration__line {
  height: 2px;
  border-radius: 4px;
  background-color: #363838;
  margin-top: -2px;
}

.partners {
  padding: 16px 0 60px;
}

.partners__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
}

/*--------- map ---------*/
.map {
  margin-top: -53px;
  margin-bottom: 50px;
}

.map iframe {
  height: 578px;
}

/* ---------contact---------- */
.contact {
  padding-bottom: 100px;
}

.contact__title {
  color: #363838;
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  position: relative;
}

.contact__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #6D7278;
}

.contact .contact__social {
  padding-left: 284px;
  display: flex;
  margin-bottom: 20px;
}

.contact__social-item + .contact__social-item {
  padding-left: 40px;
}

.contact__text {
  margin-bottom: 10px;
  color: #A1A1A1;
}

.contact__city {
  margin-bottom: 16px;
}

.contact__phone {
  color: #5A5A5A;
}

.contact__box {
  padding-left: 284px;
}

.contact__form {
  padding-left: 284px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__form-input {
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  padding: 6px 17px;
  margin-bottom: 13px;
  width: 48%;
}

.contact__form-input::placeholder {
  color: #A1A1A1;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.contact__form-area {
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  padding: 14px 17px;
  min-height: 125px;
  resize: none;
  /* чтобы не растягивалась вручную */
  margin-bottom: 20px;
}

.contact__form-area::placeholder {
  color: #A1A1A1;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.contact__form-btn {
  border: none;
  background-color: #363838;
  color: #fffff0;
  font-weight: 600;
  border-radius: 21px;
  padding: 6px 60px;
  cursor: pointer;
}

/* ---------contact-slider---------- */
.contact-slider {
  padding-bottom: 102px;
}

.contact-slider__link {
  position: relative;
  margin-bottom: 20px;
}

.contact-slider__link:hover .contact-slider__title {
  opacity: 1;
}

.contact-slider__img {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.contact-slider__title {
  transition: all .5s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #363838;
  line-height: 22px;
  padding: 0 5px;
  text-align: center;
  opacity: 0;
}

/* ---------blog---------- */
.blog {
  padding: 60px 0 100px;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
}

.blog__category {
  margin-bottom: 36px;
}

.blog__category-title, .blog__tags-title {
  margin-bottom: 16px;
  color: #363838;
  line-height: 23px;
}

.blog__category-item {
  margin-bottom: 12px;
}

.blog__tags {
  margin-bottom: 50px;
}

.blog__tags-link {
  color: #8F8D8D;
  font-weight: 600;
  font-size: 14px;
  padding: 0 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  /* Чтобы отрабатывались паддинги и марджины */
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 14px;
}

.blog__social {
  display: flex;
}

.blog__social-item {
  margin-right: 20px;
}

.blog__items {
  max-width: 730px;
}

.blog__item {
  margin-bottom: 80px;
}

.blog__item-img {
  max-width: 730px;
}

.blog__item-info {
  padding: 25px 0 10px;
  font-weight: 600px;
  font-size: 14px;
  color: #707070;
}

.blog__item-info a {
  color: inherit;
}

.blog__item-title {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 6px;
  color: #363838;
}

.blog__blockquote {
  background: rgba(223, 223, 223, 0.5);
  margin-bottom: 50px;
  padding: 54px 64px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.blog__blockquote-author {
  font-size: 16px;
  line-height: 22px;
  color: #363838;
  margin-top: 23px;
  padding-top: 23px;
  position: relative;
  font-style: normal;
}

.blog__blockquote-author::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #6D7278;
  border-radius: 1px;
  height: 1px;
  width: 200px;
  margin: 0 auto;
}

.blog__item-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.article-popup__box {
  position: relative;
}

.article-slider__arrow {
  padding: 0;
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.article-slider__arrow-left {
  left: 16px;
}

.article-slider__arrow-right {
  right: 16px;
}

.recent-posts {
  margin-bottom: 40px;
}

.recent-posts__title {
  margin-bottom: 24px;
  color: #363838;
  line-height: 23px;
}

.recent-posts__item {
  margin-bottom: 11px;
}

.recent-posts__item-title {
  display: block;
  /* чтобы каждый на своей строке */
  color: inherit;
}

.recent-posts__date, .recent-posts__author {
  color: #a1a1a1;
  font-size: 14px;
}

.aside {
  width: 350px;
  margin-left: 30px;
}

.aside__search {
  position: relative;
  margin-bottom: 40px;
}

.aside__search-input {
  padding: 6px 45px 6px 18px;
  /* паддинг с учётом иконки */
  border: 1px solid rgba(54, 56, 56, 0.7);
  border-radius: 20px;
  display: block;
  width: 100%;
}

.aside__search-input::placeholder {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #A1A1A1;
}

.aside__search-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
}

.pagination__list-item {
  margin: 0 6px;
}

.pagination__arrow {
  margin: 0 6px;
}

.pagination__arrow--disabled {
  display: none;
}

.pagination__list-num {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.pagination__list-num--active {
  color: #363838;
}

.blog-2__item p {
  margin-bottom: 40px;
}

.blog-2__item blockquote {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: #363838;
  margin-bottom: 30px;
  padding: 0 40px;
}

.blog-2__item .blog__blockquote-author::before {
  margin-right: auto;
  margin-left: 0;
}

.blog-2__tags {
  margin-bottom: 30px;
}

.blog-2__tags-title {
  color: #363838;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 15px;
}

.blog-2__tags-link {
  margin-bottom: 10px;
  margin-right: 23px;
  padding: 0 16px;
  color: #8F8D8D;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 14px;
  display: inline-block;
}

.blog-2__links {
  padding: 40px 0 30px;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.blog-2__link {
  width: 243px;
  position: relative;
  color: #707070;
  font-size: 14px;
  font-weight: 600;
}

.blog-2__link::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 23px;
  background-image: url(img/);
}

.blog-2__link-prev {
  padding-left: 44px;
}

.blog-2__link-prev::before {
  background-image: url(../img/link-arrow-prev.svg);
  left: 0;
}

.blog-2__link-next {
  padding-right: 44px;
  /* паддинг с учётом ширины самой стрелки */
  text-align: right;
}

.blog-2__link-next::before {
  background-image: url(../img/link-arrow-next.svg);
  right: 0;
}

.blog-2__comments-title {
  color: #363838;
  line-height: 31px;
  font-size: 20px;
  margin-bottom: 15px;
}

.blog-2__comments-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 40px;
}

.blog-2__comments-avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 13px;
}

.blog-2__reply {
  background-color: transparent;
  margin-left: 5px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}

.blog-2__comments-name {
  color: #363838;
  line-height: 23px;
}

.blog-2__comments-date {
  margin-bottom: 10px;
  font-size: 14px;
  color: #a1a1a1;
}

.blog-2__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-2__form-title {
  margin-bottom: 25px;
  color: #363838;
  line-height: 23px;
}

.blog-2__form-textarea {
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 24px;
  padding: 14px 17px;
  min-height: 125px;
  resize: none;
  /* чтобы не растягивалась вручную */
  margin-bottom: 12px;
}

.blog-2__form-textarea::placeholder {
  color: #A1A1A1;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.blog-2__form-input {
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  padding: 6px 17px;
  margin-bottom: 13px;
  width: 48%;
}

.blog-2__form-input::placeholder {
  color: #A1A1A1;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.blog-2__form-btn {
  border: none;
  background-color: #363838;
  color: #fffff0;
  font-weight: 600;
  border-radius: 21px;
  padding: 6px 60px;
  cursor: pointer;
}

.blog-2__form-label {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  color: #a1a1a1;
}

@media (max-width: 1700px) {
  .contact-slider__img {
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
  .collection__images {
    width: 100%;
  }
  .map {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .top__slider-title {
    font-size: 62px;
    line-height: 74px;
  }
  .top__slider-img {
    height: 640px;
  }
  .contact-slider__img {
    height: 240px;
  }
}

@media (max-width: 1040px) {
  .blog__inner {
    flex-wrap: wrap;
  }
  .blog__items {
    max-width: 100%;
  }
  .blog__item-img {
    max-width: 100%;
    width: 100%;
  }
  .aside {
    width: 100%;
    margin-left: 0;
    order: -1;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .footer__info {
    width: 380px;
  }
  .gallery__items {
    grid-gap: 10px;
  }
  .gallery__btn {
    margin: 0;
    padding: 6px 10px;
  }
  .about__text {
    padding-left: 0;
  }
  .about__content {
    padding: 40px 0;
  }
}

@media (max-width: 840px) {
  .top__inner::after {
    height: 100%;
  }
  .top__slider-title {
    font-size: 44px;
    line-height: 54px;
  }
  .top__slider-img {
    height: 540px;
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .works-path__item {
    width: 350px;
  }
  .works-path__item--production {
    margin-left: 50px;
  }
  .contact .contact__social, .contact__form, .contact__box {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
  .menu__list-item {
    padding-left: 0;
  }
  .menu__list-item + .menu__list-item {
    /* Обращаемся ко второму элементу */
    padding-right: 0;
  }
  .logo {
    margin: 0;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__info {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer__menu {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__social {
    margin-left: auto;
    margin-right: auto;
  }
  .decor {
    padding: 70px 0 55px;
  }
  .works-path__item--measuring {
    margin-left: 100px;
  }
  .gallery__buttons {
    display: grid;
    /* чтобы растянулись во всю длину */
  }
  .gallery__btn {
    margin-bottom: 10px;
  }
  .about__prev {
    padding: 80px 0;
  }
  .inspiration__img {
    display: none;
  }
  .partners__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .map iframe {
    height: 300px;
  }
}

@media (max-width: 650px) {
  .top__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .top__slider-item {
    /* & = .top__slider-item  */
  }
  .top__slider-item .top__slider-img {
    display: none;
    /* скрыть картинку */
  }
  .top__slider-text {
    margin-bottom: 15px;
  }
  .works-path__items-box::before, .works-path__item--production::after, .works-path__item--measuring::before {
    display: none;
  }
  .works-path__items-box {
    border: none;
    flex-wrap: wrap;
  }
  .works-path__item--measuring {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 38px;
  }
  .works-path__item--production {
    margin-left: 0;
    order: 1;
  }
  .works-path__item {
    width: 100%;
  }
  .blog-box__items {
    display: block;
  }
  .blog-box__img-link {
    display: block;
  }
  .blog-box__img {
    width: 100%;
  }
  .blog-box__item {
    margin-bottom: 20px;
  }
  .contact__form-input {
    width: 100%;
  }
  .slick-dots li {
    margin: 0 5px;
  }
}

@media (max-width: 540px) {
  .menu__list-link--active::after {
    display: none;
  }
  .logo {
    order: -1;
    /* сместить влево */
    position: relative;
    z-index: 12;
  }
  .header__inner {
    flex-wrap: wrap;
    padding-top: 42px;
  }
  .header__btn-menu {
    position: relative;
    z-index: 12;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: -1;
  }
  .header__btn-menu span {
    background-color: #000;
    width: 37px;
    height: 3px;
    border-radius: 4px;
    display: block;
    margin: 6px 0;
  }
  .header .menu__list-link, .header .footer__info-title, .header .rightside-menu__title, .header .top__slider-title, .header .new-collection__title, .header .collection__info-title, .header .decor__title, .header .works-path__title, .header .works-path__item-title, .header .blog-box__title, .header .blog-box__item-title, .header .about__prev-title, .header .about__title, .header .inspiration__title, .header .inspiration__item, .header .contact__title, .header .contact-slider__title, .header .blog__category-title, .header .blog__tags-title, .header .blog__item-title, .header .blog__blockquote-author, .header .recent-posts__title, .header .blog-2__tags-title, .header .blog-2__comments-title, .header .blog-2__comments-name, .header .blog-2__form-title {
    /* Смотреть на сайте Sass вложенности */
    font-size: 28px;
    line-height: 36px;
  }
  .about__prev-title {
    font-size: 40px;
    line-height: 48px;
  }
  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11;
    text-align: center;
    transform: translateY(-350px);
    transition: all .5s;
  }
  .menu--open {
    transform: translateY(30px);
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    padding-right: 0;
  }
  .menu__list-link {
    display: block;
    padding: 15px 0;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu__list-link, .footer__info-title, .rightside-menu__title, .top__slider-title, .new-collection__title, .collection__info-title, .decor__title, .works-path__title, .works-path__item-title, .blog-box__title, .blog-box__item-title, .about__prev-title, .about__title, .inspiration__title, .inspiration__item, .contact__title, .contact-slider__title, .blog__category-title, .blog__tags-title, .blog__item-title, .blog__blockquote-author, .recent-posts__title, .blog-2__tags-title, .blog-2__comments-title, .blog-2__comments-name, .blog-2__form-title {
    font-size: 28px;
    line-height: 36px;
  }
  .blog-box__item-title {
    font-size: 22px;
    line-height: 36px;
  }
  .blog-2__form-input {
    width: 100%;
  }
  .blog-2__comments-name, .blog-2__form-title {
    font-size: 16px;
    line-height: 27px;
  }
  .blog-2__comments-item {
    flex-wrap: wrap;
  }
  .blog-2__comments-avatar {
    width: 45px;
    height: 45px;
  }
  .blog-2__item-title {
    font-size: 16px;
    line-height: 27px;
  }
  .blog-2__comments-name, .blog-2__comments-date {
    margin-left: 55px;
  }
  .blog-2__comments-info {
    margin-top: -46px;
  }
  .blog-2__reply {
    margin-left: 0;
  }
  .blog__cathegory-title,
  .recent-posts__title,
  .blog__tags-title,
  .blog__blockquote-author {
    font-size: 16px;
    line-height: 23px;
  }
  .blog__item-title {
    font-size: 24px;
    line-height: 38px;
  }
  .gallery__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__item:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  .gallery.gallery-page .gallery__item:nth-child(8) {
    grid-column: 1;
    grid-row: 1;
  }
  .inspiration__item-text, .inspiration__num {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 375px) {
  .footer {
    justify-content: space-between;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__form {
    display: block;
  }
  .footer__form-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .gallery__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-slider__img {
    height: 310px;
  }
  .slick-dots li {
    margin: 0 1px;
  }
  .blog-2__item blockquote {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */